/* GLOBAL SETTINGS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
  all: unset;
}

ul {
  list-style-type: none;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
  height: 80px;
  background-color: #000;
  opacity: .5;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
}

/*** HEADER BUTTON ***/

.upgrade-button{
color: white;


}

.upgrade-button > a:nth-child(1) {
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 30px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
   }

   .upgrade-button:hover{
     scale: 1.1;
     margin-right: 5px;
   }
   

/* MAIN */

main {
height: calc(100vh - 80px);
  position: relative;
  display: flex;
}

.main-content{
    background-color: #141922;
width: 100%;
margin-left: 50px;
margin-top: 80px;
overflow-y: auto;

}

/*** NAVBAR ***/

.navigation-list{
    color: #6b6e74;
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    justify-content: center;

}

.navigation-list li{
    margin-left: 13px;
}

.navigation-list li:hover{

    border-bottom: 3px solid #93d92c;

}

/*** RECENTLY PLAYED ***/


.recently-played h2, 
.for-you h2,
.popular-artist h2{
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 21px;
  margin-left: 15px;
}

.card {
  margin: 0 15px;
  float: left;
  margin-bottom: 20px;

 }
 

.card .text-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .text-section h3{
  color: white;
  font-size: 14px;
margin-bottom: 5px;
max-width: 150px;
text-align: center;
}
.card .text-section p {
  color: #6b6e74;
  font-size: 12px;
  font-weight: bold;
}


.card img{
  width: 155px;
  margin-bottom: 10px;

}

/* HOOVER */
.container {
  position: relative;
  width: 100%;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.popular-artist .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* .card:hover{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f007";
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,  -50%); */ */

/*** FOR YOU ***/

.for-you > p:nth-child(2),
.popular-artist > p:nth-child(2) {
  color: #6b6e74;
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 10px;
 }
 

/*** POPULAR ARTIST ***/

.popular-artist .card img{
  width: 155px;
  margin-bottom: 10px;
  border-radius: 50%;
}

/* SIDEBAR */

.sidebar {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 10px 0;
}

.sidebar-nav,
.sidebar-user{
    width: 30px;
    align-content: center;
}

.sidebar-nav li,
.sidebar-user li{
    margin-bottom: 10px;
}

.bg-gray{
    background-color: gray;
    border-radius: 50%;
}

/* FOOTER */

footer {
    height: 80px;
  background-color: #282828;
}

/* FOOTER CONTAINER */

.container-footer {
  display: flex;
  width: 100%;
  height: 100%;
}

.album-cover-footer {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-cover-footer img {
  width: 60%;
}

/*** SONG INFO ***/

.song-info-footer {
  flex-basis: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
}

.song-name-footer {
  font-size: 12px;
}

.song-type-footer,
.song-artist-footer {
  color: gray;
  font-size: 9px;
}

.select-fv-footer {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: gray;
  font-size: 12px;
}

.select-fv-footer i {
  margin: 3px;
}

.share-controll-foooter {
  flex-basis: 10%;
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  font-size: 9px;
}

.share-controll-foooter i {
  margin: 0 5px;
}

.volume-controll-footer {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  font-size: 9px;
}

.volume-controll-footer i {
  margin-right: 5px;
}

.volume {
  width: 100%;
  border-radius: 50px;
  background-color: #585858;
  height: 3px;
  margin-right: 5px;
}

.volume .volume__bar {
  height: 100%;
  width: 30%;
  border-radius: 50px;
  background-color: white;
}

/*** MUSIC CONTROLL SECTION ***/

.music-controll-footer {
  flex-grow: 1;
}

.song-controll {
  height: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: white;
}

i.far:nth-child(3) {
  font-size: 1.6rem;
}

.song-controll i {
  font-size: 10px;
}

.song-time {
  height: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-time,
.end-time {
  margin: 0 10px;
  color: white;
  font-weight: bold;
}

.progress {
  width: 60%;
  border-radius: 50px;
  background-color: #585858;
  height: 3px;
}

.progress .progress__bar {
  height: 100%;
  width: 30%;
  border-radius: 50px;
  background-color: white;
}


/* HIDDEN 420PX */

.link-text{
    display: none;
}