/* GLOBAL SETTINGS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: "Roboto", sans-serif;
}

/* WRAP SETTINGS */

.wrap {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* HEADER */

.main-header {
  background-color: #080b12;
  width: 85%;
  float: left;
  height: 100px;
}

@media only screen and (min-width: 720px) {
  .main-header {
    background-color: #080b12;
    width: 70%;
    float: left;
    height: 100px;
  }
}

/* MAIN */

.main-content {
  display: flex;
  flex-grow: 1;
  background-color: #141922;
  flex-direction: column;
  flex-wrap: wrap;
}

.inside-container {
  width: 100%;
  height: 100%;
}

.inside-content {
}

/* SIDEBAR */

.main-sidebar {
  height: 100%;
  background-color: black;
  width: 15%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}

/*** SIDEBAR IMAGE ***/

.sidebar-nav ul li img {
  height: 50px;
  width: 100%;
}

.sidebar-user ul li img {
  height: 30px;
  width: 100%;
}

.bg-gray {
  background-color: gray;
}

/*** SIDEBAR CONTAINER ***/

.sidebar-nav {
  width: 50%;
}

.sidebar-user {
  width: 50%;
  padding-bottom: 20px;
}

/*** SIDEBAR HIDDEN  ***/

.link-text {
  display: none;
}

/*** SIDEBAR LIST  ***/

.sidebar-nav li,
.sidebar-user li {
  list-style-type: none;
}

@media only screen and (min-width: 720px) {
  .main-sidebar {
    align-items: baseline;
    width: 30%;
  }

  .sidebar-nav ul li,
  .sidebar-user ul li {
    padding-left: 10px;
  }

  /*** SIDEBAR IMAGE ***/

  .sidebar-nav ul li img {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    display: inline;
  }

  /*** SIDEBAR TEXT  ***/

  .sidebar-nav ul li {
  }

  .link-text {
    display: inline;
  }
}
/* FOOTER */

.main-footer {
  flex-basis: 80px;
  background-color: #282828;
}

/* FOOTER CONTAINER */

.container-footer {
  display: flex;
  width: 100%;
  height: 100%;
}

.album-cover-footer {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-cover-footer img {
  width: 60%;
}

/*** SONG INFO ***/

.song-info-footer {
  flex-basis: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
}

.song-name-footer {
  font-size: 12px;
}

.song-type-footer,
.song-artist-footer {
  color: gray;
  font-size: 10px;
}

.select-fv-footer {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: gray;
  font-size: 15px;
}

.select-fv-footer i {
  margin: 3px;
}

.share-controll-foooter {
  flex-basis: 10%;
  border: 1px dashed white;
}

.volume-controll-footer {
  flex-basis: 10%;
  border: 1px dashed white;
}

/*** MUSIC CONTROLL SECTION ***/

.music-controll-footer {
  flex-grow: 1;
}

.song-controll {
  height: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: white;
}

i.far:nth-child(3) {
  font-size: 1.6rem;
}

.song-controll i {
  font-size: 12px;
}

.song-time {
  height: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-time,
.end-time {
  margin: 0 10px;
  color: white;
  font-weight: bold;
}

.progress {
  width: 60%;
  border-radius: 50px;
  background-color: #585858;
  height: 5px;
}

.progress .progress__bar {
  height: 100%;
  width: 30%;
  border-radius: 50px;
  background-color: white;
}
